.founder{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 1.7vw;
    padding-top: 3%;
    background-color: beige;
    border-bottom: solid black .2vw;
}
.word{
    font-size: 4vw;
    margin-top: 40px;
    padding-bottom: 30px;
}

.bio{
    word-wrap: break-word;
    height: fit-content; 
}