.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vw;
    color: #d65142;
    text-align: center;
    font-size: 2vw;
}



@media only screen and (max-width: 600px) {

    .list{
        font-size: 4vw;
        padding: 0;
        text-align: center;
        gap: 3vw;
    }

}