.development{
    color: #9e7e95;
    background-color: beige;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 1.7vw;
}
.header{
    text-align: center;
    font-size: 5.5vw;
}
ul{
    margin: 0;
}
.link{
    text-decoration: none;
}