.development{
    background-image: url('https://i.pinimg.com/564x/ca/da/20/cada2056b2230ffe3be57b35f4cca133.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 1.7vw;
}
.header{
    text-align: center;
    font-size: 4vw;
}
.click{
    padding-left: 2%;
    text-align: center;
    word-wrap: break-word;
    text-align: justify;
}
.link{
    text-decoration: none;
}