.carousel {
  overflow: hidden;
  text-align: center;
}

.inner {
  white-space: nowrap;
  transition: transform 3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: transparent;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators>button {
  display: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  color: darkslategrey;
}

.indicators>button.active {
  background-color: #abcdd4;
  box-shadow: none;
  color: #fff;
}