.carousel {
    overflow: hidden;
    margin-bottom: 3em;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: transparent;
    color: #fff;
    padding-bottom: 1em;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
  }
  
  .indicators > button {
    font-size: 25px;
    margin: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: darkslategrey;
  }
  
  .indicators > button.active {
    background-color: #abcdd4;
    box-shadow: none;
    color: #fff;
  }
  