.intro{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: 2vw;
}
.mission{
    text-align: center;
}
.missionStatement{
    text-align: center;
}