.intro{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5%;
    font-size: 2vw;
    background-image: url('https://i.imgur.com/f2tyEAP_d.jpg?maxwidth=520&shape=thumb&fidelity=high');
    background-size: cover;
}
.mission{
    text-align: center;
    margin-bottom: -2%;
    padding-top: 2%;
    font-size: 3vw;
    //margin-bottom: auto;
}
.missionStatement{
    text-align: center;
    margin-top: -2%;
    //margin-bottom: auto;
}