.footer {
    min-height: 6vw;
    background-color: beige;
    display: flex;
    margin-bottom: auto;
    justify-content: space-between;
}

.connect{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 5vw;
}

.instagram, .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbLogo{
    max-width: 3.1vw;
    height: auto;
}
.igLogo{
    max-width: 3.3vw;
    height: auto;
}

.fbLogo:hover{
    opacity: .8;
    cursor: pointer;
}
.igLogo:hover{
    opacity: .8;
    cursor: pointer;
}


.DLCimg {
    max-width: 12vw;
    height: auto;
    margin-left: 3vw;
}
