
.testimonials{
    height: 27vw;
    background-color: #f5d78f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
}
.img1{
    width: 35vw;
    padding-bottom: 3%;
}