.nav {
    height: 6vw;
    background-color: beige;
    display: flex;
}

.tabs {
    width: 55%;
    float: right;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    display: flex;
    font-size: 1.5vw;
}

.logo {
    width: 45%;
    float: left;
}

.img {
    max-width: 14vw;
    margin-top: -3%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
