.nav {
    height: 6vw;
    background-color: beige;
    display: flex;
}

.tabs {
    width: 55%;
    float: right;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: space-evenly;
}

.linkHome {
    text-decoration: none;
    display: flex;
    font-size: 1.5vw;
    color: #668b9b;
}
.linkAbout {
    text-decoration: none;
    display: flex;
    font-size: 1.5vw;
    color: #668b9b;
}
.linkServices {
    text-decoration: none;
    display: flex;
    font-size: 1.5vw;
    color: #668b9b;
}
.linkContact {
    text-decoration: none;
    display: flex;
    font-size: 1.5vw;
    color: #668b9b;
}

.linkHome:hover {
    text-decoration: none;
    display: flex;
    font-size: 1.7vw;
    color: #a787a4;
}
.linkAbout:hover {
    text-decoration: none;
    display: flex;
    font-size: 1.7vw;
    color: #a787a4;
}
.linkServices:hover {
    text-decoration: none;
    display: flex;
    font-size: 1.7vw;
    color: #a787a4;
}
.linkContact:hover {
    text-decoration: none;
    display: flex;
    font-size: 1.7vw;
    color: #a787a4;
}


.logo {
    width: 45%;
    float: left;
}

.img {
    max-width: 14vw;
    margin-top: -3%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
