.banner2 {
    height: 28vw;
    display: flex;
    justify-content: center;
    align-item8: center;
    font-size: 2.10vw;
    color: beige;
    text-align: center;
}

.span1 {
    width: 50%;
    float: left;
    background-image: url('https://i.imgur.com/AmcQMNg.jpg');
    background-position: center;
    background-size: cover;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span2 {
    width: 50%;
    float: right;
    background-image: url('https://i.imgur.com/DR2R9ZQ.jpg');
    background-position: center;
    background-size: cover;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.words1, .words2{
    padding: 5%;
}

@media only screen and (max-width: 600px) {

    .banner2{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .span1{
        width: 100%;
        height: 80vw;
        font-size: 10vw;
    }
    .span2{
        width: 100%;
        height: 80vw;
        font-size: 10vw;
    }

}